#General
alias ss2="ssh -2"
alias ssx="ss2 -X"
alias ssy="ss2 -Y"
alias kint="kill -s INT"
alias rr="rm -rf"
alias xx="exit"
alias tm="top -o vsize" # memory
alias tu="top -o cpu" # cpu
alias make="nocorrect make"
alias grep="grep --color=auto"
alias gll="git ls-tree --name-only --full-tree @"

mc () { mkdir -p $1&&cd $1 }
pg () { ps aux|grep -i $*|grep -iv GREP }

#Network
mping () {
  trap "return 0" 2
  d="$1"&&[[ -z "$d" ]]&&return 1
  t="${2:-1}"
  while true;do
    echo -n "$(date '+%Y-%m-%d %H:%M:%S') ICMP echo $d => "
    ping -c1 -t"$t" "$d" 2>/dev/null|
    \grep -oE "time=.*"&&sleep "$t"||echo "timeout"
  done
}

alias ddig="dig +noall +answer +additional +comment"
alias ddix="dig +noall +answer +additional +comment -x"
alias dddig="dig +noall +answer"

#OMZ
gfomz () {
  [[ -z "$1" ]] && return 1
  if [ "$(pwd)" = "$ZSH" ]; then
    local url="git@github.com"
    local rep="oh-my-zsh.git"
    git fetch "$1" 1>/dev/null 2>/dev/null \
    || git remote add "$1" "$url:$1/$rep" \
    && git fetch "$1" 1>/dev/null 2>/dev/null
  else return 2
  fi
}

#Global
alias -g G="| grep -i"
alias -g C="| pbcopy"
alias -g V="pbpaste |"
alias -g J="| python -mjson.tool"
alias -g Q="1>/dev/null 2>/dev/null"
